/* Universal Styling */
* {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header Styling */
header {
    top: 0px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    border-bottom: solid 1px black;
    background-color: rgb(105,105,105, .9);
}

header div {
    display: inline-flex;
    align-content: center;
    align-items: center;
}

.icon {
    height: 74px;
    padding: 5px;
    background:
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(
        to right,
        rgba(105, 237, 244, 0.9),
        rgba(35, 159, 225, 0.9),
        rgba(0, 100, 200, .9)
    );
    background-size: 100% 74px, 0 74px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    border-radius: 50%;
  }
  
.icon:hover {
    background-size: 0 74px, 100% 74px;
    border-radius: 50%;
}

header h1 {
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 21px 6px;
    font-size: 1.7rem;
    text-align: center;
    align-items: center;
    min-width: 160px;
}

nav li {
    display: inline-flex;
    padding: 20px;
    background:
      linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(
        to right,
        rgba(105, 237, 244, 0.9),
        rgba(35, 159, 225, 0.9),
        rgba(0, 100, 200, .9)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  nav li:hover {
    background-size: 0 3px, 100% 3px;
  }

/* Dropdown Button */
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropContent {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(191, 191, 191);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px 0px 15px 15px;
}
  
.dropContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropContent a:hover {
    background-color: rgb(158, 158, 158);
    border-radius: 15px;
}
  
.dropdown:hover .dropContent {
    display: block;
}
  
.dropdown:hover .dropButton {
    border-bottom: solid 1px black;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(83, 83, 83, 0.9);
}

/* Main Styling */
body {
    background-color: rgba(83, 83, 83, 1);
}

/* About  */
.about {
    text-align: center;
    position: relative;
    margin-top: 74px;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
}

.about h1 {
    font-size: 3em;
    padding: 20px;
  }

.about p {
    padding: 0px 60px;
    line-height: 1.5em;
}

/* Previous Work Cards */
.works {
    position: relative;
    text-align: center;
    border-bottom: solid 1px black;
    padding-bottom: 20px;
}

.works h1 {
    font-size: 3em;
    padding: 20px;
}
.bigCard {
    /* width: 1280px; */
    margin: 20px;
    background-color: rgb(168, 251, 255);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bigCardImg {
    /* width: 1280px;
    height: 480px; */
}

.bigCardImg:hover {
    opacity: .5;
}

.bigCardTitle {
    display: inline-flex;
    align-items: center;
    height: 3em;
}

.bigCardTitle p {
    font-size: 2em;
    margin: 0.25em;
}

.smallCards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    /* width: 640px; */
    margin: 40px;
    background-color: rgb(168, 251, 255);
}

.cardImg {
    /* width: 640px; */
    height: 240px;
}

.cardImg:hover {
    opacity: .5;
}

.cardTitle {
    display: flex;
    align-items: center;
    height: 3em;
}

.cardTitle p {
    font-size: 2em;
    margin: 0.25em;
}

.gitLogo {
    height: 2.5em;
    margin: 0.5em;
}

/* Conact Me Form */
.contact h1 {
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: rgb(191, 191, 191);
  }
  
  input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(141, 141, 141);
  }
  
  input[type=submit]:hover {
    background-color: rgb(186, 186, 186);
  }
  
  .form {
    border-radius: 5px;
    padding: 20px;
  }

/* Footer Styling */
footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0px;
    border-top: solid 1px black;
    background-color: rgb(105,105,105,.90);
}

footer img {
    height: 2em;
}

/* Responsive Design */

@media  (max-width: 645px) {
    .about {
        margin-top: 170px;
    }
};