/* Universal Styling */
* {
   
}

/* Header Styling */
header {
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    border-bottom: solid 1px black;
    background-color: rgb(105,105,105,.90);
}

header h1 {
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 20px;
}

nav li {
    display: inline-flex;
    padding: 20px;
}

/* Aside Styling */

/* Main Styling */

/* Footer Styling */
footer {
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    border-top: solid 1px black;
    background-color: rgb(105,105,105,.90);
}